
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

html {
	height: 100%;

	/*background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
    background-image: url("./img/new1.jpg");
		background-repeat:no-repeat;
		height:auto;
		opacity: 0.9;
    mv background-color: #cccccc;
}

body {
	font-family: Georgia,montserrat, arial, verdana;
  overflow-x: hidden;
}
/*nav {
    color: white;
    height: 10%;
    display: inline;
}*/
/*form styles*/
#msform {
	width: 520px;
	margin: 0px auto;
	text-align:;
	position: relative;
  left: 445px

}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 60px 30px;
	box-sizing: border-box;
	width: 80%;
  height: 850px;
	margin: 0 10%;

	position: relative;
}
#msform input {
	padding: 13px;
	border: 1px solid #ccc;
	outline: 0;
	border-width: 0 0 2px;
	border color: blue
	border-radius: 3px;
	margin-bottom: 34px;
	width: 100%;
	float:left;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 125px;
	background: #27AE60;
	font-weight: bolder;
	color: white;
	border: 0 none;
	border-radius: 25px;
	cursor: pointer;
	padding: 17px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 28px;
	text-transform: uppercase;
	font-family: Georgia;
	font-weight: bolder;
	color: #2C3E50;
	margin-bottom: 30px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	text-align: left;
	color: #666;
	margin-bottom: 20px;
}
.fs-subtitles{
	font-weight: normal;
	font-size: 13px;
	color: #666;
	text-align: left;
	margin-bottom: 20px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
